{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa ChattiPalveluun!</h1>
  </div>

  <p>
    <a href="/ChattiPalvelu/listall" class="btn btn-primary btn-lg">Listaa kaikki<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  <p>
    <a href="/ChattiPalvelu/huoneet" class="btn btn-primary btn-lg">Huoneet<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  <p>
    <a href="/ChattiPalvelu/huone/1" class="btn btn-primary btn-lg">Huone nro 1<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  <p>
    <a href="/ChattiPalvelu/huone/1/muokkaa" class="btn btn-primary btn-lg">Huoneen nro 1 muokkaus<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  <p>
    <a href="/ChattiPalvelu/user" class="btn btn-primary btn-lg">Oma Profiili<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  <p>
    <a href="/ChattiPalvelu/user/1/muokkaa" class="btn btn-primary btn-lg">Käyttäjän 1 muokkaus<span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}