{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>{{huone.nimi}}</h1>
    <h6>{{huone.kuvaus}}</h6>

    {% if message %}
    <div class="alert alert-success">
        <ul>
            <li>{{message}}</li>
        </ul>
    </div>
    {% endif %}
    {% for error in errors %}
    <div class="alert alert-success">
        <ul>
            <li>{{error}}</li>
        </ul>
    </div>
    {% endfor %}


    <div class="text-right">
        {% if liittynyt %}
        <a class="btn btn-danger btn-sm" href="{{base_path}}/huone/{{huone.id}}/poistu/{{kayttaja.id}}">Poistu huoneesta</a>
        {% else %}
        <a class="btn btn-success btn-sm" href="{{base_path}}/huone/{{huone.id}}/liity/{{kayttaja.id}}">Liity huoneeseen</a>
        {% endif %}
    </div>    

</div>
<div class="row text-right">
    <span>Huoneen käyttäjälista</span> 
</div>
{% for kayttaja in kayttajat %}
<div class="row text-right">
    <a href="{{base_path}}/user/{{kayttaja.id}}">{{kayttaja.nimi}}</a>
</div>
{% endfor %}

<div id="wrapper">  

    <div id="chatbox">
        {% for viesti in viestit %}
        <ul>
            <li>{{viesti.kayttaja_id}}: {{viesti.sisalto}}</li>
        </ul>
        {% endfor %}
    </div>

    {% if liittynyt %}
    <form method="post" action="{{base_path}}/viesti/{{huone.id}}">
        <div class="form-group">
            <input name="usermsg" type="text" id="usermsg" size="100" />
        </div>
        <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>
    {% endif %}
</div>

{% endblock %}
