{% import "macros/napit.html" as napit %}
{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Henkilön {{kayttaja.nimi}} Profiili</h1>
    {% if oma %}
    <div class="text-right">
        <a>{{napit.muokkaa_button("#{base_path}/user/#{kayttaja.id}/muokkaa")}}</a>
    </div>
    {% elseif user_logged_in.taso == 4 %}
    <div class="text-right">
        <a>{{napit.muokkaa_button("#{base_path}/user/#{kayttaja.id}/muokkaa")}}</a>
    </div>
    {% endif %}
</div>

<h2>Liitytyt huoneet:</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            {% if oma %}
            <th></th>
            {% elseif user_logged_in.taso > kayttaja.taso %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for huone in huoneet %}
        <tr>
            <td><a href="{{base_path}}/huone/{{huone.id}}">{{huone.nimi}}</td>
            <td>{{huone.kuvaus}}</td>
            {% if oma %}
            <td>{{napit.poista_button("#{base_path}/huone/#{huone.id}/poistu/#{kayttaja.id}", 'Poistu huoneesta')}}</td>
            {% elseif user_logged_in.taso > kayttaja.taso %}
            <td>{{napit.poista_button("#{base_path}/huone/#{huone.id}/poistu/#{kayttaja.id}", 'Poista huoneesta')}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
