{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Henkilön {{kayttaja.nimi}} Profiili</h1>
    <div class="text-right">
        <a href="/ChattiPalvelu/user/{{kayttaja.id}}/muokkaa" class="btn btn-primary btn-lg">Muokkaa tietoja</a>
    </div>
    
</div>
<p>
    <a href="/ChattiPalvelu/huone/1">Liitytty huone 1</a><span class="pull-right">    Uusia viestejä/Muuta tietoa</span>
</p>
<p>
    <a href="/ChattiPalvelu/huone/2">Liitytty huone 2</a><span class="pull-right">    Uusia viestejä/Muuta tietoa</span>
</p>
{% endblock %}
